@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
    font-family: Poppins;
    font-size: 12px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i{
    font-size: 2em;
   
}
a, ul {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.4em;
}

body{
    max-width: 100%;
}

html{
    scroll-behavior: smooth;
}
.header{
    display: flex;
    background-color: rgba($color: #000000, $alpha: 0.6);
    max-height: 8em;
    min-height: 8em;
    justify-content: space-between;
    align-items: center;
    padding: 0 10em;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);


    .my-name{
        font-size: 2em;
        flex: 1;
    }

    .home-nav{
        display: flex;
        flex: 2;
        justify-content: space-between;
        
    }

    .home-links{
        display: flex;

        li{
            padding-right: 8em;
        }
        
    }

    .nav__link.active{
        color: rgb(206, 62, 206);
    }
   
}

main{
   display: grid;
   z-index: 0;
   grid-template-rows: repeat(5,  1fr);
   
}
.Home {
    height: calc(100vh);
    row-gap: 1rem;
    display: flex;
    padding: 8em 10em;
    align-items: center;
    justify-content:space-between;
  

    .home__data{
        color: rgba($color: #000000, $alpha: 0.6); 
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 60%;
       
        
        .home__title{
            padding-bottom: 1em;
            font-size: 5em;
        }
        .home__title-color{
            font-size: 1.4em;
            color: rgb(206, 62, 206);
        }

        .button{
            display: inline-block;
            background-color: rgb(206, 62, 206);
            width: fit-content;
            padding: .7em 3em;
            border-radius: 0.5em;
            font-size: 2em;
            box-shadow: 3px 5px 4px rgba(206, 62, 206, .2);
        }

        .home__social{
            align-self: flex-start;
            padding-top: 8em; 
            width: 20em;
            display: flex;
            justify-content:space-between;
            
        }

        i{
            color: rgba($color: #000000, $alpha: 0.6); 
        }
    }
    
  }

  .about{
        padding: 0 10em;
    .section-title{
       font-size: 3em;
       display: flex;
       justify-content: center;
       color: rgb(206, 62, 206);
       padding: 3.5em 0;
    }
    .about__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
        
    }
    .about__subtitle{
        color: rgb(206, 62, 206);
        font-size: 2em ;
        padding: 4.0em 0 1.5em;
    }
    .about__text{
        font-size: 1.6em ;
    }
    Button{
        display: inline-block;
        background-color: rgb(206, 62, 206);
        width: fit-content;
        padding: .7em 1.4em;
        border-radius: 0.5em;
        font-size: 2em;
        box-shadow: 3px 5px 4px rgba(206, 62, 206, .2);
        border: none;
        margin-top: 1em;
        color: white;
        transition: 2s ease;
    }

    Button:hover{
        background-color: white; 
        color: rgb(206, 62, 206);
    }
  }

  .skills{
      

        display: grid;
        padding: 0 10em;
        .section-title{
            justify-self: center;
            font-size: 3em;
            color: rgb(206, 62, 206);
            padding: 3.5em 0 0;
        }

        .skills__container {
        text-align: center;
        display: flex;
        justify-content: space-between;
       
        }
        
         &__subtitle{
        margin-bottom: 1em;
        font-size: 2.5em;
         }

        &__text{
        margin-bottom: 2em;
        font-size: 20px;
        text-align: left;
            }
        &__data{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        font-size: 1.55em;
        font-weight: bold;
        padding: 1rem 1rem;
        margin-bottom: 2em;
        border-radius: .5rem;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
         }
        &__icon{
            font-size: 2rem;
            margin-right: 2em;
            color: rgb(206, 62, 206);
         }
         &__names{
             display: flex;
             align-items: center;
        }
          &__bar{
            position: absolute;
             left: 0;
             bottom: 0;
             background-color: rgb(206, 62, 206);
             height: .4rem;
             border-radius: .5rem;
            z-index: 5;
          }
    &__html{
        width: 85%;
    }
    &__css{
        width: 80%;
    }
    &__js{
        width: 50%;
    }
    &__img{
        border-radius: .8rem;
    }
    .skills__img{
        height: 44em;
        width: 44em;
        border-radius: 50%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

 
}  
 .work {
        display: grid;
        padding: 0 10em;
        
        .section-title{
            justify-self: center;
            font-size: 3em;
            color: rgb(206, 62, 206);
            padding: 3.5em 0 0;
        }

        .text-container{
            display: flex;
            justify-content: space-between;
            padding: 1em 0;
           
            .text{
               height: 50em;
               width: 55em;
               border-radius: 2em;
               box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
               display: flex;
               align-items: center;
               flex-wrap: wrap;
               padding: 0 4em;

               p{
                   font-size: 1.4em;
                   color: rgb(206, 62, 206);
                   transform: translateY(-20px);
               }

               h3{
                   font-size: 2em;
                   margin: 0 auto;
                   border-radius: 2em;
                   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                   padding: 1em 2em;
               }
            }

        }

        }

        .contact{
            display: grid;
            padding: 0 10em;
            
            .section-title{
                justify-self: center;
                font-size: 3em;
                color: rgb(206, 62, 206);
                padding: 3.5em 0 0;
            }

            &__container{
                justify-self: center;

            }

            &__input{
                width: 100%;
                font-size: 1em;
                font-weight: bold;
                padding: 2rem;
                border-radius: .5rem;
                border: rgb(206, 62, 206) 2px solid;
                outline: none;
                margin-bottom: 2em;
               
            }
            &__input::placeholder{
                font-size: 1.5em;
                color: rgb(206, 62, 206) ;
                
               
            }
            &__button{
                    display: inline-block;
                    background-color: rgb(206, 62, 206);
                    width: fit-content;
                    padding: .7em 1.4em;
                    border-radius: 0.5em;
                    font-size: 2em;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                    border: none;
                    margin-top: 1em;
                    color: white;
                    transition: 2s ease;
                    transform: translateX(27em);
                }
            
                .contact__button:hover{
                    background-color: white; 
                    color: rgb(206, 62, 206);
                }
            
    }

    .footer{
        
        color:rgba($color: #000000, $alpha: 0.6);
        text-align: center;
        font-weight: bold;
        padding: 2rem 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    
        &__title{
            font-size: 2rem;
            margin-bottom: 2em;
        }
        &__social{
            margin-bottom:2em;
        }
        &__icon{
            font-size: 1.5rem;
            color: rgb(206, 62, 206);
            margin: 0 1em;
        }
    }
