/* ===== FOOTER =====*/
.footer{
    background-color:  white;
    box-shadow:  5px -5px 3px rgba(0,0,0,.15) ;
    color: black;
    text-align: center;
    font-weight: 600;
    padding: 2rem 0;
    min-height: 10%;

    &__title{
        font-size: 2rem;
        margin-bottom: 1.1rem;
    }
    &__social{
        margin-bottom: 1rem;
       
    }
    &__icon{
        font-size: 1.5rem;
        color: rgba(189, 24, 189, .7);
        margin: 0 1rem;
    }
}